In [1]:
import pandas as pd

In [2]:
ratings_pd = pd.read_csv("Resources/ratings.csv")
ratings_pd.head()
ratings_pd.sample(n=5)

          userId  movieId  rating   timestamp
11844982  122831     7386     4.0  1218402383
25229293  262628     5299     5.0  1111421740
20919877  217384      590     4.0   838670816
17057934  177147     6974     2.5  1137053112
11974922  124070     4308     4.5  1465149099

In [3]:
movies_metadata_pd = pd.read_csv("Resources/movies_metadata.csv", low_memory=False)
movies_metadata_pd.head()
movies_metadata_pd.sample(n=5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
18702,False,NaN,2391200,"[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...",http://www.united-red-army.com/,46101,tt0923869,ja,実録・連合赤軍 あさま山荘への道程,"The film is told in three acts, beginning with...",...,2007-08-26,0.0,190.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,NaN,United Red Army,False,6.1,8.0
44728,False,NaN,0,[],NaN,196491,tt0173368,fr,Les tulipes,"Magical flowery frolics, similar to a Melies f...",...,1907-05-23,0.0,3.0,[],Released,NaN,Les tulipes,False,4.5,2.0
31941,False,NaN,0,[],NaN,138550,tt1920996,en,La máquina que hace estrellas,Pilo is a 10-year-old boy who lives with his m...,...,2012-08-30,0.0,80.0,"[{'iso_639_1': 'es', 'name': 'Español'}]",Released,NaN,The Star Making Machine,False,4.5,2.0
39992,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,21837,tt1209380,en,Cop Dog,Ever since Robby's father was killed while on ...,...,2008-01-01,0.0,0.0,[],Released,NaN,Cop Dog,False,7.0,1.0
19754,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,84308,tt1760980,en,"Madrid, 1987",Two characters: old and young; teacher and pup...,...,2011-09-22,0.0,104.0,"[{'iso_639_1': 'es', 'name': 'Español'}]",Released,NaN,"Madrid, 1987",False,6.3,15.0

In [6]:
movies_metadata_pd.dtypes

adult                     object
belongs_to_collection     object
budget                    object
genres                    object
homepage                  object
id                        object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity                object
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                     object
vote_average             float64
vote_count               float64
dtype: object

In [8]:
movies_metadata_pd = movies_metadata_pd[movies_metadata_pd['adult'] == 'False'].drop('adult',axis='columns')

In [10]:
movies_metadata_pd['video'].value_counts()

False    45358
True        93
Name: video, dtype: int64

In [12]:
movies_metadata_pd['video'] == 'True'

0        False
1        False
2        False
3        False
4        False
         ...
45461    False
45462    False
45463    False
45464    False
45465    False
Name: video, Length: 45454, dtype: bool

In [13]:
movies_metadata_pd['video'] = movies_metadata_pd['video'] == 'True'

In [14]:
movies_metadata_pd['budget'] = movies_metadata_pd['budget'].astype(int)
movies_metadata_pd['id'] = pd.to_numeric(movies_metadata_pd['id'], errors='raise')
movies_metadata_pd['popularity'] = pd.to_numeric(movies_metadata_pd['popularity'], errors='raise')

In [15]:
movies_metadata_pd['release_date'] = pd.to_datetime(movies_metadata_pd['release_date'])

In [20]:
ratings_pd.info(null_counts=True)

C:\Users\User\AppData\Local\Temp\ipykernel_13896\1290786186.py:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  ratings_pd.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26024289 entries, 0 to 26024288
Data columns (total 4 columns):
 #   Column     Non-Null Count     Dtype
---  ------     --------------     -----
 0   userId     26024289 non-null  int64
 1   movieId    26024289 non-null  int64
 2   rating     26024289 non-null  float64
 3   timestamp  26024289 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 794.2 MB

In [21]:
pd.to_datetime(ratings_pd['timestamp'], unit='s')

0          2015-03-09 22:52:09
1          2015-03-09 23:07:15
2          2015-03-09 22:52:03
3          2015-03-09 22:52:26
4          2015-03-09 22:52:36
                   ...
26024284   2009-10-31 23:26:04
26024285   2009-10-31 23:33:52
26024286   2009-10-31 23:29:24
26024287   2009-11-01 00:06:30
26024288   2009-10-31 23:30:58
Name: timestamp, Length: 26024289, dtype: datetime64[ns]

In [23]:
ratings_pd['timestamp'] = pd.to_datetime(ratings_pd['timestamp'], unit='s')